.set {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  width: 952px;
}

.buttonSmall {
  width: 175px;
}

.buttonBig {
  width: 362px;
}

.input {
  width: 240px;
}

.list {
  composes: list from '../fibonacci-page/fibonacci-page.module.css';
  width: 100%;
  margin-top: 120px;
}

.circle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  position: relative;
}

.smallCircle {
  position: absolute;
  top: -65px;
  left: 11px;
}

.smallCircleBottom {
  position: absolute;
  top: 117px;
  left: 12px;
}