.form {
  composes: form from '../string/string.module.css';
}

.input {
  composes: input from '../string/string.module.css';
}

.hint {
  composes: hint from '../string/string.module.css';
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 48px auto 0;
  gap: 16px;
  padding: 0; 
  width: 944px;
  flex-wrap: wrap;
  row-gap: 48px;
  list-style-type: none;
}